.customNavBar{
    height: 100%;
    width: 4vw;
    padding: 1vw;
    background:rgba(54, 57, 62, 1) ;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10vh;
}