.collapsibleButton{
    background-color: #14d9c5 !important;
}


@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

  .animate-flicker {
     width: fit-content;
     color: #14d9c5;
     animation: flickerAnimation .5s infinite;
 }