
@font-face {
  font-family: "VT323";
  src: url("fonts/VT323/VT323-Regular.ttf");
}

body{
  font-family: "VT323" !important;

}

h4,h1,h2,p{
  color: #14d9c5 !important;
}

.App {
  
  height: 400vh;
}

.Intro{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:#14d9c5  ;
  font-size: 2em;
}

.MiddleSection{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  z-index: 50;
  
}


footer{
  z-index: 50;
  color: #14d9c5;
  text-align: center;
  font-size: 1em;
}




