
@font-face {
  font-family: "VT323";
  src: url("fonts/VT323/VT323-Regular.ttf");
}

body{
  font-family: "VT323" !important;

}

h4,h1{
  color: #14d9c5 !important;
}

.App {
  
  height: 400vh;
}

.InfoSection{
  height: fit-content;
  display: flex;
  color: white;
  height: 100vh;
  width: 100%;
  gap:2%
}

.MiddleSection{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  z-index: 50;
}


.text{
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
}


.timeline{
  width: 2px;
  margin-left: 20%;
  color: white;
  background-color: white;
  
}

